<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonification.accessibleweather"
    android:versionCode="8"
    android:versionName="3.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.sonification.accessibleweather.ActivityStartup"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.sonification.accessibleweather.ActivityMain"
            android:label="@string/display_app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.sonification.accessibleweather.ActivityCityLookup"
            android:label="@string/action_search"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>

        <activity
            android:name="com.sonification.accessibleweather.ActivityCityWeather"
            android:label="@string/action_search"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.sonification.accessibleweather.ActivitySettingsMenu"
            android:label="@string/settingMenuString"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="com.sonification.accessibleweather.intent_services.IntentServiceNotifications"
            android:exported="false"
            android:icon="@drawable/ic_launcher"
            android:label="@string/notificationServiceString">
        </service>

        <receiver android:name="com.sonification.accessibleweather.intent_services.ReceiverBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.sonification.accessibleweather.ActivityAbout"
            android:label="@string/aboutString"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.sonification.accessibleweather.ActivityHelp"
            android:label="@string/helpString"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.sonification.accessibleweather.ActivityManualLocation"
            android:label="@string/manualLocationActivityName"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>

        <service
            android:name="com.sonification.accessibleweather.LocationFetcher"
            android:label="@string/app_name">
        </service>

    </application>

</manifest>
